<section id="call-to-action" class="container text-center my-5">
    <h2>Begin Your Journey of Spiritual Enlightenment</h2>
    <p>Join hands with Prophet Yani in transforming lives – yours and others'. Embrace a path of personal growth and global compassion.</p>
    {% for button in hero.buttons %}
        {% if button.action_type == "email" %}
            <a href="mailto:{{ button.target }}" class="hero-button btn btn-{{ button.type }}" aria-label="{{ button.text }}">{{ button.text }}</a>
        {% elif button.action_type == "link" %}
            <a href="{{ button.target }}" class="hero-button btn btn-{{ button.type }}" aria-label="{{ button.text }}">{{ button.text }}</a>
        {% elif button.action_type == "internal_link" %}
        <a href="{{ url_for( button.target ) }}" class="hero-button btn btn-{{ button.type }}" aria-label="{{ button.text }}">{{ button.text }}</a>
        {% endif %}
    {% endfor %}
 </section>