<section id="faq" class="container my-5">
    <h2>{{ faq.title }}</h2>
    <div class="accordion" id="faqAccordion">
       {% for faq in faq.faqs %}
          <div class="card">
                <div class="card-header" id="heading{{ loop.index }}">
                   <h5 class="mb-0">
                      <button class="btn btn-link {{ 'collapsed' if not loop.first }}" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="{{ 'true' if loop.first else 'false' }}" aria-controls="collapse{{ loop.index }}">
                            Q: <span class="faq-text faq-text-question">{{ faq.question }}</span>
                      </button>
                   </h5>
                </div>
                <div id="collapse{{ loop.index }}" class="collapse {{ 'show' if loop.first }}" aria-labelledby="heading{{ loop.index }}" data-parent="#faqAccordion">
                   <div class="card-body">
                      A: <span class="faq-text faq-text-answer">{{ faq.answer }}</span>
                   </div>
                </div>
          </div>
       {% endfor %}
    </div>
 </section>