<section id="social-proof" class="container my-5">
    <div id="social_proof-title">
      <h2>{{ social_proof.title }}</h2>
    </div>

    <!-- Success Stories -->
    <div class="row mb-5">
      <div class="col-12 mb-3">
         <h3 class="text-center">Success Stories</h3>
      </div>
      {% for story in social_proof.success_stories %}
   
         <div class="col-md-6 mb-4">
            <div class="card h-100">
                  <img src="{{ story.image_url }}" alt="{{ story.title }}" class="card-img-top">
                  <div class="card-body">
                     <h4 class="card-title">{{ story.title }}</h4>
                     <p class="card-text">{{ story.description }}</p>
                  </div>
            </div>
         </div>
      {% endfor %}
    </div>

   <!-- Social Media Highlights -->
   <div class="row mb-5">
      <div class="col-md-12 mb-4">
         <div class="card">
            <div class="card-body">
               <h4 class="card-title text-center mb-4 social-media-highlight-subtitle">Measure our Impact</h4>
               <div class="row social-media-highlight-section">
                  {% for statistic in social_proof.impact_statistics %}
                        <div class="col-md-4 col-sm-6 mb-3 text-center">
                           <div class="d-flex flex-column align-items-center">
                              <img src="{{ statistic.image_url }}" alt="{{ statistic.alt_text }}" style="height: 10em; width: auto;">
                              <br/>
                              <span>{{ statistic.name }}: <strong class="home-social-number">{{ statistic.count }}</strong></span>
                              <p class="statistic-description">{{ statistic.description }}</p>
                           </div>
                        </div>
                  {% endfor %}
               </div>              
               <h4 class="card-title text-center mb-4">Measure our Influence</h4>
               <div class="row social-media-highlight-section">
                  {% for follower in social_proof.social_media_highlights.followers %}
                     <div class="col-md-4 col-sm-6 mb-3 text-center">
                           <div class="d-flex flex-column align-items-center">
                              <a href="{{ follower.url }}" target="_blank" class="no-link-style">
                                 {% if follower.icon == "svg" %}
                                    <img src="{{ url_for('static', filename=follower.icon_svg) }}" alt="{{ follower.name }}" style="height: 2em; width: auto;">
                                 {% else %}
                                    <i class="{{ follower.icon }} fa-2x mb-2" style="color:{{ follower.color }}"></i>
                                 {% endif %}
                              </a>
                              <a href="{{ follower.url }}" target="_blank">
                                 <span>{{ follower.name }}: <strong  class="home-social-number">{{ follower.count }}</strong> Followers</span>
                              </a>
                           </div>
                     </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
   </div>


   <!-- Testimonials with Images -->
   <div id="testimonials" class="row">
   <div class="col-12 mb-3">
      <h3 class="text-center">Testimonials</h3>
   </div>
      <!-- Each Testimonial with Image -->
      {% for testimonial in social_proof.testimonials %}
            <div class="col-md-4 mb-4">
               <img src="{{ testimonial.image_url }}" alt="Client Testimonial" class="img-fluid mb-3">
               <p><strong>{{ testimonial.author }}:</strong> "{{ testimonial.quote }}"</p>
            </div>
      {% endfor %}
   </div>

   <!-- Partnerships and Collaborations -->
   <div id="partnerships" class="row">
      <div class="col-12 mb-3">
         <h3 class="text-center">Partnerships and Collaborations</h3>
      </div>
      
      <div class="container">
         {% for partnership in social_proof.partnerships %}
             <!-- Partnership -->
             <div class="row mb-4">
                 <div class="col-lg-3 col-md-4 col-sm-12">
                     <img src="{{ partnership.image_url }}" alt="{{ partnership.title }} Logo" class="img-fluid">
                 </div>
                 <div class="col-lg-9 col-md-8 col-sm-12">
                     <div class="d-flex flex-column justify-content-between h-100">
                         <div>
                             <h4>{{ partnership.title }}</h4>
                             <h6 class="text-muted partnerships-details">Partnership Details</h6>
                             <div class="partnership-features">{{ partnership.feature_offering }}</div>
                             <div class="partnership-values">{{ partnership.unique_value }}</div>
                         </div>
                         <div class="text-right">
                             <a href="{{ partnership.url }}" class="btn btn-primary">Learn More</a>
                         </div>
                     </div>
                 </div>
             </div>
         {% endfor %}
     </div>
     
   </div>

 </section>
