<nav class="navbar navbar-expand-lg navbar-light bg-light opaque">
    <a class="navbar-brand" href="{{ url_for('general_blueprint.home') }}">
        <img src="https://jonathanksullivan.github.io/prophet-yani/image/logo.webp" alt="Prophet Yani Logo" class="img-fluid" style="max-height: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('general_blueprint.about') }}">
                    <i class="fas fa-info-circle"></i> About
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('general_blueprint.services') }}">
                    <i class="fas fa-concierge-bell"></i> Services
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('general_blueprint.contact') }}">
                    <i class="fas fa-envelope"></i> Contact Us
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if not session.get('user_id') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_blueprint.login') }}">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_blueprint.register_user') }}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_blueprint.profile') }}">
                        <img src="{{ user.profile_image_url if user.profile_image_url else 'https://jonathanksullivan.github.io/prophet-yani/image/default_profile.webp' }}" alt="Profile Image" style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; margin-right: 5px;">
                        Profile
                    </a>
                </li>
                
                <!-- Check if user is an admin -->
                {% if is_user_admin() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('general_blueprint.admin_dashboard') }}">
                            <i class="fas fa-user-shield"></i> Admin Dashboard
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('general_blueprint.user_dashboard') }}">
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_blueprint.logout') }}">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
