<div class="col-md-4 mb-3">
    <div class="card h-100 service-card"  data-service-id="{{ service.id }}">
        {% if service.image_url %}
            <img src="{{ service.image_url }}" class="card-img-top" alt="{{ service.name }}">
        {% else %}
            <img src="path/to/default/image.jpg" class="card-img-top" alt="Default Image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ service.name }}</h5>
            <p class="card-text">{{ service.description }}</p>
            <p class="card-text"><strong>Duration:</strong> {{ service.duration }} minutes</p>
            <p class="card-text"><strong>Price:</strong> ${{ service.price }}</p>
            {% if session.get('user_id') %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#calendarModal-{{ service.id }}">
                    Book {{ service.name }}
                </button>
                <!-- You'll need JavaScript to handle booking logic here -->
            {% else %}
                <a href="{{ url_for('user_blueprint.login') }}" class="btn btn-primary">Login to Book</a>
                <a href="{{ url_for('user_blueprint.register_user') }}" class="btn btn-secondary">Register</a>
            {% endif %}
        </div>
    </div>
</div>
{% include 'services/service_modal.html' with context %}