{% extends "base.html" %}

{% block head %}
<style>
    /* Custom CSS for header */
    .header-section {
        background: url("https://jonathanksullivan.github.io/prophet-yani/image/contact_hero.webp") no-repeat center center;
        background-size: cover;
        height: 100vh; /* Make header take up the full viewport height */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }
</style>
{% endblock %}

{% block header %}
<header class="header-section">
    <div class="container text-center">
        <h1 class="display-4">Contact Us</h1>
        <p class="lead">We're here to help and answer any questions you might have</p>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-center mb-4">We'd love to hear from you</h2>
            <form action="{{ url_for('general_blueprint.contact') }}" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
