{% extends "base.html" %}

{% block head %}
<style>
    /* Custom CSS for header */
    .header-section {
        background: url({{ url_for('static', filename='images/contact_thanks.webp') }}) no-repeat center center;
        background-size: cover;
        height: 100vh; /* Make header take up the full viewport height */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }
</style>
{% endblock %}

{% block header %}
<header class="header-section">
    <div class="container text-center">
    </div>
</header>
    
{% endblock %}

{% block content %}
    <div class="container mt-4 text-center">
        <h2>Thanks for Reaching Out, {{ name }}!</h2>
        <p>Your message has been successfully sent. We will get back to you as soon as possible.</p>
        <a href="{{ url_for('general_blueprint.home') }}" class="btn btn-primary">Return to Home</a>
    </div>
{% endblock %}
