{% extends "base.html" %}

{% block head %}
   <style>
      #subtitle {
        margin: 20px 0 30px 0;
      }
      .feature-card-title {
         font-weight: 400;
         font-size: 21px;
      }
   </style>
{% endblock %}


{% block header %}
   <!-- Hero Section -->
   {% include "home/hero_section.html" %}
{% endblock %}

{% block content %}
   <!-- Problem/Solution Section -->''
   {% include "home/problem_solution_section.html" %}

   <!-- Benefits Section -->
   {% include "home/benefits_section.html" %}

   <!-- Social Proof Section -->
   {% include "home/social_proof_section.html" %}

   <!-- Feature Section -->
   {% include "home/feature_section.html" %}

   <!-- FAQ Section -->
   {% include "home/faq_section.html" %}

   <!-- Call to Action Section -->
   {% include "home/cta_section.html" %}
   
{% endblock %}
