{% extends "base.html" %}

{% block head %}
<style>
    /* Custom styles for the profile page */
    .profile-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #e9ecef;
        padding: 1rem 0;
    }
    .profile-header h2 {
        font-weight: bold;
        color: #333;
    }
    .non-editable-field {
        background-color: #e9ecef;
        padding: 0.5rem;
        border: none;
        border-radius: 0.25rem;
    }
    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block header %}
<div class="profile-header">
    <div class="container">
        <h2 class="text-center">Your Profile</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <!-- Profile Image -->
            <img src="{{ user.profile_image_url if user.profile_image_url else 'https://jonathanksullivan.github.io/prophet-yani/image/default_profile.webp' }}" alt="Profile Image" class="profile-image">
            <!-- Display any flash messages here -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endwith %}
            <form id="profile-form" method="POST" action="{{ url_for('user_blueprint.profile') }}" enctype="multipart/form-data">
                <!-- Profile Information -->
                <div class="form-group">
                    <label for="profile_image">Profile Image</label>
                    <input type="file" class="form-control-file" id="profile_image" name="profile_image">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <div class="non-editable-field">{{ user.username }}</div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="non-editable-field">{{ user.email }}</div>
                </div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                </div>
                <div class="form-group">
                    <label for="bio">Bio</label>
                    <textarea class="form-control" id="bio" name="bio">{{ user.bio }}</textarea>
                </div>

                <!-- Location Information -->
                <div class="form-group">
                    <label for="country">Country</label>
                    <select class="form-control" id="country" name="country">
                        <!-- Countries will be populated here -->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" name="action" value="update_profile" id="update-profile-btn" disabled>Update Profile</button>
            </form>

            <!-- Password Change Form -->
            <form method="POST" action="{{ url_for('user_blueprint.profile') }}" class="mt-3">
                <h3>Change Password</h3>
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="new_password" name="new_password" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                <i class="fas fa-eye"></i> <!-- Font Awesome Eye Icon -->
                            </button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="action" value="change_password" id="change-password-btn" disabled>Update Password</button>

            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.querySelector('.profile-image');
            output.src = reader.result;
        };
        
        if (event.target.files.length > 0) {
            reader.readAsDataURL(event.target.files[0]);
        } else {
            console.error("No file selected"); // Error log
        }
    }

    $(document).ready(function() {
        // Function to fetch and populate countries
        function populateCountries(callback) {
            var currentUserCountry = "{{ user.country }}";

            $.ajax({
                url: "https://restcountries.com/v3.1/all",
                dataType: "json",
                success: function(data) {
                    data.sort(function(a, b) {
                        return a.name.common.localeCompare(b.name.common);
                    });

                    $('#country').empty();
                    $('#country').append(new Option('Select Country', ''));
                    data.forEach(function(country) {
                        var option = new Option(country.name.common, country.cca2);
                        $('#country').append(option);
                        if (country.name.common === currentUserCountry) {
                            $('#country').val(country.cca2);
                        }
                    });
                    $('#country').select2();
                    callback(); // Call storeInitialValues after countries are populated
                }
            });
        }

        // Store the initial values of the form fields
        var originalValues = {};
        function storeInitialValues() {
            $('#profile-form input[type="text"], #profile-form textarea, #profile-form select, #profile-form input[type="file"]').each(function() {
                var input = $(this);
                // Check for file input
                if(input.attr('type') === 'file') {
                    originalValues[input.attr('id')] = input.get(0).files.length > 0;
                } else {
                    originalValues[input.attr('id')] = input.val();
                }
            });
        }

        // Function to check if form fields have changed from their original values
        function checkFormChanges() {
            var isChanged = false;
            $('#profile-form input[type="text"], #profile-form textarea, #profile-form select, #profile-form input[type="file"]').each(function() {
                var input = $(this);
                // Check for changes in file input
                if(input.attr('type') === 'file') {
                    if((originalValues[input.attr('id')] && input.get(0).files.length === 0) || (!originalValues[input.attr('id')] && input.get(0).files.length > 0)) {
                        isChanged = true;
                        return false; // Break the loop
                    }
                } else if (originalValues[input.attr('id')] !== input.val()) {
                    isChanged = true;
                    return false; // Break the loop
                }
            });
            $('#update-profile-btn').prop('disabled', !isChanged);
        }

        // Attach change and keyup event listeners to the form fields
        $('#profile-form').on('change keyup', 'input[type="text"], textarea, select, input[type="file"]', function() {
            checkFormChanges();
        });

        // Attach the event listener to the file input for image preview
        $('#profile_image').on('change', previewImage);

        populateCountries(storeInitialValues);
    });
</script>




{% endblock %}
